@*@{
    ViewData["Title"] = "Home Page";
}*@


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/indice.css" />
</head>
<body>
    <div id="primerDiv">
        @*<h1>Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
        <h1>
            Bienvenidos a CampoWEB
        </h1>
    </div>
    <div id="SegundoDiv">
        <p><a href="https://localhost:5001/Ingreso/Ingreso/"> Ingresar</a></p>
    </div>
</body>
</html>