
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <link rel="stylesheet" href="~/css/Ingreso.css" />
</head>
<body>
    <div id="MainWrapper">
        <h1>Bienvenido a su menú</h1>
        <ul>
            <li>
                <a asp-controller="Store" asp-action="PerfilUsuario" asp-route-ID="@ViewData["ID"]">Ver Perfil</a>
            </li>
            <li>
                <a asp-controller="Store" asp-action="MostrarProductos" asp-route-ID="@ViewData["ID"]">Ver Productos</a>
            </li>
            <li>
                <a asp-controller="Store" asp-action="VerCarrito" asp-route-ID="@ViewData["ID"]">Ver Carrito</a>

            </li>
        </ul>
    </div>
    
</body>
</html>